/*footer */
footer {
    margin-top: 15px;
  }
  
  .foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }
  
  .foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
  }
  
  ul {
    margin-top: 30px;
  }
  
  ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
  }
  
  .foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo1 {
    /* background-image: url("Builder.png"); */
    background-size: cover;
    height: 40px;
    width: 9%;
  }
  
  .foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    /*display: flex;
      justify-content: center;
      align-items: center;*/
  }
  
  .pages {
    font-size: 0.7rem;
    text-align: center;
    padding: 25px;
  }
  
  .copyright {
    padding-top: 2px;
    text-align: center;
    font-size: 0.7rem;
  }
  