*{
	margin: 0;
	font-family: Arial;
	border: border-box;

}
.fa-cart-shopping{
	position: absolute;
	margin-top: 50px;
	margin-left: 40px;
	width: 1200px;
	height: 450px;
	background-color:  white;
}

.fa-cart-shopping h1{
	margin-top: 7px;
	margin-left: 20px;
	font-size: 35px;
}

.fa-cart-shopping h2{
	margin-top: 3px;
	margin-left:  1100px;
	font-size: 20px;
	color: #939185;
}

.fa-cart-shopping p{
	margin-top: 5px;
	margin-left: 20px;
	font-size: 15px;
	color: #7D8ABC;
}
.her{
	margin-top: 10px;
	height:1.2px;
	width: 1130px;
	background-color: #EEEDEB;
	margin-left: 20px;
}

.shoping-deselect img{
	position: absolute;
	margin-top: 20px;
	margin-left: 50px;
	height: 200px;


}

.shoping-text p{
	position: absolute;
	margin-left: 390px;
	margin-top: 30px;
	font-size: 20px;
	color: #2F3645;
}

.shoping-text h1{
	position: absolute;
	margin-top: 30px;
	margin-left:  1100px;
	font-size: 20px;
	color: #939185;
}

.shoping-text-stock h2 {
	position: absolute;
	margin-left: 270px;
	margin-top: 70px;
	font-size: 13px;
	color: #939185;
}

.shoping-text-stock h3 {
	position: absolute;
	margin-left: 270px;
	margin-top: 90px;
	font-size: 13px;
	color: #939185;
}

.shoping-text-stock h4 {
	position: absolute;
	margin-left: 270px;
	margin-top: 110px;
	font-size: 13px;
	color: #939185;
}

.shoping-stock{
	position: absolute;
	margin-top: 250px;
	height:1.2px;
	width: 1130px;
	background-color: #EEEDEB;
	margin-left: 20px;
}

.shoping-stock p{
    margin-top: 20px;
	margin-left:  910px;
	font-size: 20px;
	color: #939185;
}






.fa-cart-shopping2{
	position: absolute;
	margin-top: 600px;
	margin-left: 40px;
	width: 1200px;
	height: 450px;
	background-color:  white;
}

.fa-cart-shopping2 h1{
	margin-top: 7px;
	margin-left: 20px;
	font-size: 35px;
}

.fa-cart-shopping2 h2{
	margin-top: 3px;
	margin-left:  1100px;
	font-size: 20px;
	color: #939185;
}

.fa-cart-shopping2 p{
	margin-top: 5px;
	margin-left: 20px;
	font-size: 15px;
	color: #7D8ABC;
}
.her{
	margin-top: 10px;
	height:1.2px;
	width: 1130px;
	background-color: #EEEDEB;
	margin-left: 20px;
}

.shoping-deselect img{
	position: absolute;
	margin-top: 20px;
	margin-left: 50px;
	height: 200px;


}

.shoping-text p{
	position: absolute;
	margin-left: 270px;
	margin-top: 30px;
	font-size: 20px;
	color: #2F3645;
}

.shoping-text h1{
	position: absolute;
	margin-top: 30px;
	margin-left:  1100px;
	font-size: 20px;
	color: #939185;
}

.shoping-text-stock h2 {
	position: absolute;
	margin-left: 270px;
	margin-top: 70px;
	font-size: 13px;
	color: #939185;
}

.shoping-text-stock h3 {
	position: absolute;
	margin-left: 270px;
	margin-top: 90px;
	font-size: 13px;
	color: #939185;
}

.shoping-text-stock h4 {
	position: absolute;
	margin-left: 270px;
	margin-top: 110px;
	font-size: 13px;
	color: #939185;
}

.shoping-stock{
	position: absolute;
	margin-top: 250px;
	height:1.2px;
	width: 1130px;
	background-color: #EEEDEB;
	margin-left: 20px;
}

.shoping-stock p{
    margin-top: 20px;
	margin-left:  890px;
	font-size: 20px;
	color: #939185;
}


.cart-Subtotal{
	position: absolute;
	margin-top: 50px;
	margin-left: 1250px;
	width: 300px;
	height: 150px;
	background-color:  white;
}

.Subtotal-price p{
	margin-top: 50px;
  margin-left: 30px;
  position: absolute;
  font-size: 20px; 
}

.Subtotal-price h1{
	margin-top: 50px;
  margin-left: 185px;
  position: absolute;
  font-size: 20px; 
}

.cart-Subtotal button{
	margin-top: 80px;
	margin-left: 50px;
	 border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.2vw;
    background-color: pink;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}